table{
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  font-family: 'Abel', sans-serif, Arial;
}

th{
  font-size: 1.7vw;
  font-weight: bolder;
  text-align:right;
}

td{
  text-align: center;
  height:2vh;
  font-size: 1.2vw;
}

footer{
  position: relative;
  bottom: -350px;
  font-size: 1vw;
  font-family: 'Abel', sans-serif, Arial;
  text-align: center;
  color: white;
  width: 100%;
  line-height: 50%;
}